@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body, html {
  font-family: 'Nunito', sans-serif;
  height: 100%;
  margin: 0;
}

body {
  background-image: url('/wave-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* App */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 0;
}

button {
  background-color: #008cba; 
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005f73; 
}

/* Navbar */
nav a {
  margin-right: 20px;
}

nav a:hover {
  background-color: lightblue;
}

nav a.active {
  font-weight: bold; 
}















@media (max-width: 768px) {
  .form-container {
    padding: 10px;
  }
}