@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body, html {
  font-family: 'Nunito', sans-serif;
  height: 100%;
  margin: 0;
}

/* App */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 0;
}

/* Navbar */
nav a {
  margin-right: 20px;
}

nav a:hover {
  background-color: lightblue;
}

nav a.active {
  font-weight: bold; 
}
